.reaction {
  width: 100px;
  height: 21px;
  background-color: #eee;
  margin: 1px;
  padding: 3px;
  float: left;
  list-style-type: none;
  padding-right: 10px;
  color: black;
}

.reaction img {
  width: 16px;
  float: left;
  margin-top: 1px;
}

.reaction .count {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 12px;
  top: 3px;
}
